* {
	font-family: 'Open Sans', sans-serif;
}

html {
	height: 100%;
	width: 100%;
	margin:0;
    padding:0;
    border:0;
    outline:0;
}

body {
	height: 100%;
	width: 100%;
	margin:0;
    padding:0;
    border:0;
    outline:0;
}

/*.side-nav {
	height: 100%;
	width: 115px;
	left: 0; top: 0;
	position: fixed;
	background-color: #2f0001;
}*/

.side-nav {
	height: 100%;
	width: 115px;
	left: 0; top: 0;
	position: fixed;
	background-color: white;
	border-right: 1px solid black;
}

.logo {
	position: relative;
	right: 125%;
	bottom: 10%;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-left: 10px;
	margin-top: -100px;
}

li {
	padding-top: 40px;
	font-size: 18px;
	letter-spacing: 1.5px;
}

/*a {
	text-decoration: none;
	color: gray;
}*/

a {
	text-decoration: none;
	color: #2f0001;
}

/*a:hover {
	color: white;
}*/

a:hover {
	color: black;
	font-weight: bold;
}

.container {
	width: 100%;
	height: 100%;
	margin:0;
    padding:0;
    outline:0;
    background:
    	url("../images/ortizsmall.svg") 2000px 2000px;
    background-position: center;
    background-color: #2f0001;

}