* {
	font-family: 'Open Sans', sans-serif;
	margin:0;
    padding:0;
    outline:0;
}

html {
	height: 100%;
	width: 100%;
	margin:0;
    padding:0;
    border:0;
    outline:0;
}

body {
	height: 100%;
	width: 100%;
	margin:0;
    padding:0;
    border:0;
    outline:0;
}

.nav {
	width: 115px;
	height: 100%;
	position: fixed;
}

/*.side-nav {
	height: 100%;
	width: 115px;
	left: 0; top: 0;
	position: fixed;
	background-color: #2f0001;
}*/

.side-nav {
	height: 100%;
	width: 115px;
	left: 0; top: 0;
	position: fixed;
	background-color: #fff;
	border-right: 1px solid black;
}

.logo {
	position: relative;
	right: 125%;
	bottom: 10%;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-left: 10px;
	margin-top: -100px;
}

li {
	padding-top: 40px;
	font-size: 18px;
	letter-spacing: 1.5px;
}

/*a {
	text-decoration: none;
	color: gray;
}*/

a {
	text-decoration: none;
	color: #2f0001;
}

/*a:hover {
	color: white;
}*/

a:hover {
	color: black;
	font-weight: bold;
}

.container{
	width: 100%;
	/*max-width: 1788px;*/
	min-height: 100%;
	margin:0;
    padding:0;
    outline:0;
    overflow: hidden;
    margin-left: 115px;
}

#main {
	 background:
    	url("../images/ortizlogo.png") 2000px 2000px;
    background-position:center;
    background-color: #2f0001;
}

#menu {
	background-color: #cf6668;
}

/*#locations {
	background-color: #A33336;
}*/

.col-md-8 {
	max-width: 25%;
}

.left-menu {
	margin-left: 25%;
}

.right-menu {
	margin-left: 75%;
}

.absolute {
	position: absolute;
} /*to allow positioning next to other divs */

/*.ob {
	left: 15%;
}

.pb {
	right: -25%;
}*/


/*.pb {
	display: block;
	left: 15%;
}*/

.relative {
	position: relative;
}

/*@media (min-width: 768px) {
	.pb {
		right: -25%;
	}
}*/

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 768px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 768px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
}

#loc-name {
	margin-left: 10%;
}

#menu-item {
	margin-left: 30%;
}

.center {
	padding-left: 15%;
}

.title {
	text-align: center;
	margin-bottom: 100px;
	margin-top: 50px;
}

.margin-top {
	margin-top: 10px;
}

footer {
	width: 100%;
	/*max-width: 1788px;*/
	height: 75px;
	margin:0;
    padding:0;
    outline:0;
    overflow: hidden;
    margin-left: 115px;
    border-top: 1px solid black;
}

.text-center {
	text-align: center;
}


  .accordion-toggle {cursor: pointer;}
  .accordion-content {display: none;}
  .accordion-content.default {display: block;}